/*This two statement can be shared in both pages*/
#pwBlock {
    padding: 8% 20% 0;
    margin-bottom: auto;
}

#pwBlock div {
    margin: auto 10%;
    background-color: #eeeeee;
    box-shadow: 2px 2px #4ecdc4;
    padding-top: 5%;
    padding-bottom: 10%;
    border-radius: 25px;
}

/*changePw.php*/
#firstPage {
    margin: auto;
    text-align: center;
    overflow: hidden;
}

#changePwH1 { font-size: 2em; }

#showPwCheckbox {
    text-align: center;
    font-size: 1.2em;
}

#currentPwd {
    width: 70%;
    margin: auto;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    background-color: #bfdbf7;
}
#currentPwd:focus { background-color: #ffa69e; }

#proceedButton {
    border: none;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    background-color: #d4142e;
    color: white;
    cursor:pointer;
}
#proceedButton:hover {
    background-color: #a9e5bb;
    color: black;
}


/*setNewPw.php*/
#newPwForm {
    text-align: center;
    overflow: auto;
}

#newPwPage {
    margin: auto;
    text-align: center;
}

#newPw, #cfPw {
    font-size: 1.5em;
    text-align: center;
    background-color: #bfdbf7;
}

#newPw:focus, #cfPw:focus {
    background-color: #ffa69e;
}

#submitButton {
    border: none;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #bfdbf7;
    cursor:pointer;
}

#submitButton:hover {
    background-color: #b8e1ff;
    font-weight: bold;
}
/*Error Message*/
.error
{
    padding: 5px;
    margin: 5px;
    font-size: 1.2em;
    list-style-position: inside;
    border: 2px solid #FBC2C4;
    background-color: #FBE3E4;
    color: #8A1F11;
    margin-bottom: 10px;
    text-align:center;
}
/*Confirmation message*/
.confirmationMessage{
    display:none;
    background-color: #FFCC00;
}