#mainContent {
    padding: 0 10%;
    margin: auto;
    overflow: auto;
}

.mainHeader {
    font-size: 2.0em;
    font-weight: bold;
    line-height: 90px;
    font-family: 'Lora',sans-serif;
}

table {
    text-align: center;
    width: 100%;
    margin: 5% 0;
}

th {
    padding: 2% 0;
    text-align: center;
    background-color: #b2f7ef;
    font-size: larger;
}

td { 
    padding: 1% 0;
    text-align: center;
}

td a {
    text-decoration: none;
    color: black;
}

td:first-child { width: 7%; }
td:nth-child(2) { width: 73%; }
td:nth-child(3) { width: 10%; }
td:last-child { width: 10%; }

tr:nth-child(odd) { background-color: #f0e6ef; }
tr:nth-child(even) { background-color: #ded9e2; }

#noNotification {
    display: none;
}