h1{
    text-align:left;
    font-size:1.75em;
    margin: 0px;
    padding-top: 20px;
    display:inline-block;
    padding-right: 15px;
    padding-left:10px;
    font-family: 'Lora',Helvetica,Courier;
}
/*Bar of display support ticket amount of each type and create new ticket button*/
.supportMenu{
    margin: 0px 5%;
    
}
.addTicket{
    margin: 15px 0px;
    padding: 8px;
    border-radius: 5px;
    display:inline-block;
    background-color: #5cb85c;
    border-color: #4cae4c;
    color:white;
    cursor:pointer;
}
.addTicket:hover{
    background-color: #449d44;
    border-color: #398439;
}
.addTicket:focus{
    outline:none;
    background-color: #449d44;
    border-color: #398439;
}
.addTicket:active{
    background-color: #398439;
   border-color: #398439;
}
.supportMenu>p{
    display:inline-block;
    margin-left: 8px;
    background-color: lightgray;
    padding-right: 10px;
    color:black;
    cursor:pointer;
}
.supportMenu>p:hover{
    color:white;
    background-color:gray;
}
.amount{
    display:inline-block;
    background-color:black;
    padding: 4px 10px;
    color:white;
    border: gray 2px solid;
    margin-right: 5px;
}
/*Search Bar*/
.filter{
    margin: 0px 0px;
    padding: 10px;
    background-color: #5270abf3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.bar{
    text-align:right;
    
}
.filter>.bar>.searchBar{
    
    text-align:left;
    border: 3px solid #ddd;
    padding: 0px 10px;
    margin-right: -4px;
    height: 30px;
    width:200px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.filter>.bar>#searchIcon{
    font-size:16px;
    background-color: rgb(207, 204, 204);
    border: 3px solid rgb(207, 204, 204);
    border-right:none;
    padding: 5.5px 10px 8.5px;
}
/*Support list*/
#table{
    min-height:65vh;
}
table{
    width:100%;
    font-size:24px;
    border-collapse: collapse;
    margin: 0px auto;
    word-wrap: break-word;
    
}
tr{
    width:100%;
}
td,th{
    border: 1px solid white;
    padding: 4px;
}
th{
    background-color: #34629d;
    color:white;
    cursor:pointer;
}
td{
    font-size:18px;
    text-align:center;
    background-color: #9fbee9;
    color:black;
}

@media screen and (max-width: 1000px) {
    table{
        font-size:18px;
        
    }
    td{
        font-size:14px;
    }
}
@media screen and (max-width: 700px) {
    table{
        font-size:12px;
    }
    th{
        font-size:12px;
    }
    td{
        font-size:8px;
    }
}
@media screen and (max-width: 400px) {
    table{
        font-size:10px;
    }
    th{
        font-size:10px;
    }
    td{
        font-size:8px;
    }
    td,th{
        word-break:break-all;
    }
}
@media screen and (max-width: 350px) {
    table{
        font-size:8px;
    }
    td{
        font-size:6px;
    }
    td,th{
        word-break:break-all;
    }
}
/*Action button*/
td button{
    margin: 2px 0px;
    padding: 8px;
    border-radius: 5px;
    color:white;
    border-color: #46b8da;
    background-color:#5bc0de;
    outline:none;
    width:70px;
    cursor:pointer;
}
td button:hover{
    background-color: #31b0d5;
    border-color: #269abc;
}
td button:active{
    outline:none;
}
#details{
    background-color: #5bc0de;
    border-color: #46b8da;
    color:white;
}
#details:hover{
    background-color: #31b0d5;
    border-color: #269abc;
}
#details:focus{
    outline:none;
    background-color: #31b0d5;
    border-color: #1b6d85;
}
#details:active{
   background-color: #31b0d5;
    border-color: #269abc;
}
/*Notification Box to display notification*/
.notificationBox{
    position:fixed;
    bottom: 0;
    right:0;
}
.green{
    background-color:#4CAF50;
}
.yellow{
    background-color: #ff9800;
}
.red{
    background-color: #f44336;
}
#notifications:not(.green):not(.yellow):not(.red){
    background-color:gray;
}
#notifications{
    padding: 20px;
    margin: 8px;
    color:white;
    width: 300px;
    display:block;
    opacity: 1;
    transition: opacity 0.6s;
}
#sort{ /*Sort icon*/
    float:right;
    padding-top:3px;
}
/*Page number*/
#page{
    text-align:center;
}
#pageNumber{
    display:inline-block;
    text-align:center;
    margin: 15px 5px;
    font-size: 0px;
}
#pageNumber a:not(.current){
    background-color:white;
    color:black;
    text-decoration: none;
    transition: background-color .3s;
    padding: 10px 10px;
    cursor:pointer;
    font-size:16px;
}
.current{
    background-color: #4CAF50;
    color:white;
    text-decoration: none;
    transition: background-color .3s;
    padding: 10px 15px;
    cursor:pointer;
    font-size:16px;
}
#pageNumber a:hover:not(.current){
    background: #ddf;
}