h2{
    text-align:center;
    padding: 18px 0px 10px;
    margin:10px 0px;
    font-family: 'Roboto',sans-serif;
}
/*Form*/
form{
    margin:auto;
    background-color:lightgray;
    padding: 0px;
    border-radius: 5px;
}
.leftSide{
    width:50%;
    display:block;
}
.rightSide{
    display:block;
    float:right;
    width:50%;
}
.required{
    color:red;
}
label{
    padding: 10px;
    display:inline-block;
    width: 150px;
    text-align:left;
    font-size: 17px;
    margin: 4px 0px;
}

/*Order details and client address table input/select/textarea field*/
div>input,div>select,div>textarea{
    font-size:15px;
    border-radius: 3px;
    padding: 5px;
    margin-left: 5px;
    border: 1px solid #ccc;
}
select,textarea{ /*Make the select box and text area width same with input width*/
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
}
input[type="text"],input[type="date"],select,textarea,#status{
    padding: 5px;
    width:215px;
}
@media screen and (min-width: 1067px) {
    label{
        width: 190px;
        font-size: 18px;
    }
    div>input,div>select,div>textarea{
        font-size:16px;
    }
}
@media screen and (max-width: 1000px){
    input[type="text"],input[type="date"],select,textarea,#status{
        width:200px;
    }
}
@media screen and (max-width: 500px) {
    label{
        width: 130px;
        font-size: 14px;
    }
    div>input,div>select,div>textarea{
        font-size:12px;
    }
    input[type="text"],input[type="date"],select,textarea,#status{
        width:auto;
    }
}
@media screen and (max-width: 350px) {
    label{
        width: 110px;
        font-size: 10px;
    }
    div>input,div>select,div>textarea{
        font-size:8px;
    }
}
table{
    width:100%;
    font-size:24px;
    border-collapse: collapse;
    margin: 0px auto;
    word-wrap: break-word;
}
tr{
    width:100%;
}
#productId,#description,#quantity,#unitPrice{
    width:80%;
}
#description, #unitPrice{
    cursor: no-drop;
    filter: grayscale(100%);
}
td,th{
    border: 1px solid white;
    padding: 4px;
}
th:not(.tableHeader){
    background-color: #34629d;
    color:white;
}
td{
    font-size:18px;
    text-align:center;
    background-color: #9fbee9;
    color:black;
}
/*Product table input/select/textarea field*/
td>input,td>select,td>textarea{
    font-size:15px;
    border-radius: 3px;
    padding: 3px;
    border: 1px solid #ccc;
}
/*Header of subtotal, discount and grand total*/
.tableHeader{
    background-color: #9fbee9;
    border:none;
    color:black;
}
#subtotal,#discount,#grandtotal{
    border:none;
    color: black;
}
#discountNum{
    border:none;
}
table input{
    background-color:#ddebfd;
}
@media screen and (max-width: 1000px) {
    table{
        font-size:18px;
        
    }
    td{
        font-size:12px;
    }
}
@media screen and (max-width: 700px) {
    table{
        font-size:12px;
    }
    th{
        font-size:12px;
    }
    td{
        font-size:8px;
    }
}
@media screen and (max-width: 350px) {
    table{
        font-size:10px;
    }
    td{
        font-size:8px;
    }
}
/*Navigation of new address section or existing address section*/
.addressMenu{
    background-color: #5270abf3;
    padding:10px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size:0px;
}
.active{
    background-color: lightskyblue;
}
#newAddress:not(.active),#existAddress:not(.active){
    background-color: lightblue;
}
.addressMenu>#newAddress{
    padding: 10px;
    color:black;
    border-top-left-radius: 10px;
    cursor:pointer;
    font-size:18px;
}
.addressMenu>#newAddress:hover{
    background-color:lightsteelblue;
    
}
.addressMenu>#existAddress{
    padding: 10px;
    color:black;
    cursor:pointer;
    font-size:18px;
}
.addressMenu>#existAddress:hover{
    background-color:lightsteelblue;
}
.existAddress{
    display:none;
}
/*Form Button*/
.formCenter{
    text-align:center;
}
#formButton{
    margin: 2px 0px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 15px;
    padding: 8px;
    margin: 3px;
    cursor:pointer;
    width:65px;
}
#formButton:focus{
    outline:none;
}
.submit{
    background-color:#28a745;
    color:white;
}
.submit:hover{
    background-color: #218838;
    color:white;
}
.cancel{
    background-color:#dc3545;
    color:white;
}
.cancel:hover{
    background-color:#c82333;
    color:white;
}
.reset{
    background-color:#ffc107;
    color:black;
}
.reset:hover{
    background-color:#e0a800;
    color:black;
}
/*Error Message*/
.error
{
    padding: 5px;
    margin: 5px;
    font-size: 1.2em;
    list-style-position: inside;
    border: 2px solid #FBC2C4;
    background-color: #FBE3E4;
    color: #8A1F11;
}
/*Generate random orderNo*/
#randomBox{
    width:50%;
    border-radius: 5px;
    border: 1px solid transparent;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    font-size: 12px;
    padding: 5px;
    margin: 3px;
    font-size: 18px;
    word-wrap: break-word;
    background-color: #ffc107;
    cursor:pointer;
}
#randomBox>p{
    height:12px;
}
#randomBox:hover{
    background-color: #d39e00;
    color:white;
}
#randomBox:active{
    opacity: 0.8;
}
@media screen and (max-width: 1066px) {
    #randomBox{
        margin: 3px;
         width:70%;
    }
}
@media screen and (max-width: 575px) {
    #randomBox{
        width:80%;
    }
}
@media screen and (max-width: 350px) {
    #randomBox{
        width:60%;
        font-size:12px;
    }
}
/*Confirmation message*/
.confirmationMessage{
    display:none;
    background-color: #FFCC00;
}