section{
    min-height:87vh;
}
h2{
    text-align:center;
    padding: 18px 0px 10px;
    margin:10px 0px;
    font-family: 'Roboto',sans-serif;
}
/*Order details box*/
#details{
    width:70%;
    background-color:royalblue;
    border-radius: 5px;
    margin:20px auto;
    padding-bottom: 20px;
}
#auditId{
    padding-top: 10px;
    font-size: 1.4em;
    margin-top: 0px;
    font-weight: bold;
    color:white; 
    text-align:center;
}
/*Represent label , title of information*/
.field{
    margin:5px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.3em;
    font-weight: bold;
    color:white;
    text-decoration:underline;
    text-align:center;
    word-wrap: break-word; 
    width: auto;
}
/*information*/
.data{
    margin: 10px;
    padding: 10px 10px 10px 10px;
    font-size:1.1em;
    color:black;
    text-align:center;
    border: 2px solid gray;
    border-radius: 5px;
    background-color:white;
    word-wrap: break-word; 
    width: auto;
}
.textdata{
        margin: 10px;
    padding: 10px 10px 10px 10px;
    font-size:1.1em;
    color:black;
    text-align:center;
    border: 2px solid gray;
    border-radius: 5px;
    background-color:white;
    word-wrap: break-word; 
    width: auto;
    height:auto;
}
/*Button for modify and back*/
.buttonMenu{
    text-align:center;
}
.buttonMenu button{
    cursor:pointer;
    margin: 2px 10px;
    padding: 8px;
    font-size: 1.25em;
    border-radius: 5px;
    outline:none;
    width:80px;
}
button:active{
    outline:none;
}
#back{
    color:white;
    background-color: #d9534f;
    border-color: #d43f3a;
}
#back:hover{
    background-color: #c9302c;
    border-color: #ac2925;
}
#back:focus{
    background-color: #c9302c;
    border-color: #761c19;
}
#back:active{
    background-color: #c9302c;
    border-color: #ac2925;
}